body{
    margin: 0;
    background-image: url("assets/images/bg.jpg");
    font-family: sans-serif;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;

    
}
nav{
    display: flex;
    justify-content: space-around;
    position: fixed; 
    width: 100%;
}

nav ul{
    margin: 0;
    display: flex;
    padding: 20px;
    background-color: transparent;
    list-style-type: none;
    
}

nav ul li a{
    text-decoration: none;
    color: white;
    padding: 15px 20px;
}

.main{
    padding: 18%;
    text-align: center;
    font-size: 25px;
    color: white;
    box-sizing: 10%;
    text-transform: capitalize;
    
   
}